body {
  margin: 0;
}

header {
  background-color: black;
  color: white;
}

.selectorli {
  padding-right: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: coral;
}

li {
  list-style: none;
}